@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

:root {
  --primary:#000000;
  --secondary:#141414;
  --border:#2F2F2F;
  --button:#6D30FB;
  --text:#ffffff;
  --text-secondary:#CACACA;
  --cards-bg:#1F1F1F;

}
body {
font-family: 'Space Grotesk',sans-serif;
color: var(--text);
}